.bg-welcome{
    width: 100vw;
    height: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}


.undertale-box{

    cursor: url('/static/img/cursor02pointer.png'), pointer;
}

.tip{
  color:white;  
  font-size:8px;
  position: relative;
  right: -234px;
  top: 174px;
}






.line-1{
    // border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 0.5s steps(7) 1s 1 normal both,
             blinkTextCursor 500ms steps(7) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 212px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}